<h2>Reviews for <%= link_to @movie.title, @movie %></h2>
<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= render 'review', review: review %>
      <% if current_user && current_user?(review.user) %>
        <p>
          <%= link_to 'Edit', edit_movie_review_path(@movie,review) %>
          <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: "Are you sure?"} %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>